src/main/webapp/wsdl/GestionDeReservation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services" xmlns:intf="http://services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="etudeEtatDeReservationParTypeDePaiement">
    <complexType>
     <sequence>
      <element name="type_paiement" type="xsd:string"/>
      <element name="id_voyage" type="xsd:int"/>
      <element name="id_client" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="etudeEtatDeReservationParTypeDePaiementResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="etudeEtatDeReservationParTypeDePaiementResponse">

      <wsdl:part element="impl:etudeEtatDeReservationParTypeDePaiementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="etudeEtatDeReservationParTypeDePaiementRequest">

      <wsdl:part element="impl:etudeEtatDeReservationParTypeDePaiement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GestionDeReservation">

      <wsdl:operation name="etudeEtatDeReservationParTypeDePaiement">

         <wsdl:input message="impl:etudeEtatDeReservationParTypeDePaiementRequest" name="etudeEtatDeReservationParTypeDePaiementRequest">

       </wsdl:input>

         <wsdl:output message="impl:etudeEtatDeReservationParTypeDePaiementResponse" name="etudeEtatDeReservationParTypeDePaiementResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GestionDeReservationSoapBinding" type="impl:GestionDeReservation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="etudeEtatDeReservationParTypeDePaiement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="etudeEtatDeReservationParTypeDePaiementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="etudeEtatDeReservationParTypeDePaiementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GestionDeReservationService">

      <wsdl:port binding="impl:GestionDeReservationSoapBinding" name="GestionDeReservation">

         <wsdlsoap:address location="http://localhost:8080/ReservationProjectFinale/services/GestionDeReservation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
